{{#each this}}
<a class="photo-card" href="{{this.largeImageURL}}">
  <img src="{{this.webformatURL}}" alt="{{this.tags}}" loading="lazy" width="320" height="218"/>
  <div class="info">
    <p class="info-item">
      <b>Likes</b> </br>
      {{this.likes}}
    </p>
    <p class="info-item"> 
      <b>Views</b> </br>
      {{this.views}}
    </p>
    <p class="info-item">
      <b>Comments</b> </br>
      {{this.comments}}
    </p>
    <p class="info-item">
      <b>Downloads</b> </br>
      {{this.downloads}}
    </p>
  </div>
  </a>
{{/each}}